
<div class="bs-primary d-flex justify-content-center align-items-center vh-100">
	<h1 class="title-principal-styles position-absolute top-0 start-50 translate-middle-x mt-5">Transcendence</h1>
		<div class="row">
			<div id="page-container">
			</div>
		</div>
	</div>
</div>

<div id="menu-container">
	<div id="btn-left">
		<button class="btn p-0 position-absolute bottom-0 start-0 ms-4 mb-2 title-principal-styles">
			<a href="/faq" class="spa-link"><i class="bi bi-question-circle" style="font-size: 3.5rem;"></i>
		</button>
	</div>
	
	<div id="btn-rigth">
		<button class="btn p-0 position-absolute bottom-0 end-0 me-4 mb-2 title-principal-styles">
			<a spa-loader="modal-login" class="spa-link"><i class="bi bi-globe" style="font-size: 3.5rem;"></i>
		</button>
	</div>
</div>

<div id="modalus-background" hidden>
	<div class="modal-background">
		<div class="d-flex justify-content-center aling-items-center">
			<div class="d-flex justify-content-center align-items-center" style="min-height: 90vh;">
				<div class="container mt-5" style="width: 95vw;"> 
					<div class="row justify-content-center">
						<div class="modal-box">
							<div id="modal-container">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
