<div class="d-flex justify-content-center align-items-center" style="min-height: 90vh;">
<div class="container mt-5" style="width: 95vw;">
<form>
<div class="form-group mb-0">
<label class="form-secondary-title-color fs-3 text-center d-block" data-i18n="new-email">New email</label>
<input class="form-control form-control-lg bs-secondary" style="border-radius: 20px;"/>
</div>
<div class="form-group mb-5">
<label class="form-secondary-title-color fs-3 text-center d-block" data-i18n="Type-password">Type password</label>
<input class="form-control form-control-lg bs-secondary" style="border-radius: 20px;"/>
</div>
</form>
<div class="col-12 text-center">
<a class="spa-link" href="/login"><button aria-label="I forgot my password" class="btn link-text-styles link-text-size w-100" data-i18n="forgot-password">I forgot my password</button></a>
<button aria-label="this is disabled" class="btn link-text-styles link-text-size mb-4 w-100" data-i18n="disabled" style="visibility: hidden;">this is disabled</button>
</div>
<div class="d-flex justify-content-center gap-1 mb-3">
<a class="spa-link" href="/edit-profile" style="flex: 1;">
<button aria-label="Cancel" class="btn cancel-button w-100 bs-primary border-primary-color" data-i18n="cancel" style="border-radius: 10px; height: 2.8rem;" type="button">Cancel</button>
</a>
<a class="spa-link" href="/edit-profile" style="flex: 1;">
<button aria-label="Accept" class="btn accept-button w-100 bs-primary" data-i18n="finish-login" id="finish-login" style="border-radius: 10px; height: 2.8rem;" type="submit">Account Deletion</button>
</a>
</div>
</div>
</div>
