<!-- ! DEPRECATED VIEW, IT'S NOT USED ANYMORE -->

<div
  class="d-flex justify-content-center align-items-center"
  style="min-height: 90vh"
>
  <div class="container mt-5" style="width: 95vw">
    <form>
      <div class="form-group mb-0">
        <label
          class="form-secondary-title-color fs-3 text-center d-block"
          data-translationKey="new-email"
          >New email</label
        >
        <input
          class="form-control form-control-lg bs-secondary"
          style="border-radius: 20px"
        />
      </div>
      <div class="form-group mb-5">
        <label
          class="form-secondary-title-color fs-3 text-center d-block"
          data-translationKey="type-password"
          >Type password</label
        >
        <input
          class="form-control form-control-lg bs-secondary"
          style="border-radius: 20px"
        />
      </div>
    </form>
    <div class="d-flex justify-content-center gap-1 mb-3">
      <a class="spa-link" href="/edit-profile" style="flex: 1">
        <button
          class="btn cancel-button w-100 bs-primary border-primary-color"
          data-translationKey="cancel"
          style="border-radius: 10px; height: 2.8rem"
          type="button"
        >
          Cancel
        </button>
      </a>
      <a class="spa-link" href="/edit-profile" style="flex: 1">
        <button
          class="btn accept-button w-100 bs-primary"
          data-translationKey="accept"
          style="border-radius: 10px; height: 2.8rem"
          type="submit"
        >
          Accept
        </button>
      </a>
    </div>
  </div>
</div>
