<div
  class="d-flex justify-content-center align-items-center"
  style="min-height: 90vh"
>
  <div class="container mt-5" style="width: 95vw">
    <div class="col-12 text-center">
      <button
        class="btn button-text-styles button-text-size w-100"
        data-close-modal=""
        data-translationKey="spanish"
        data-language="es"
      >
        Español
      </button>
      <button
        class="btn button-text-styles button-text-size w-100"
        data-close-modal=""
        data-translationKey="english"
        data-language="en"
      >
        English
      </button>
      <button
        class="btn button-text-styles button-text-size mb-4 w-100"
        data-close-modal=""
        data-translationKey="ukrainian"
        data-language="uk-UA"
      >
        Ukrainian
      </button>
    </div>
    <div class="col-12 text-center mt-3">
      <button
        class="btn cancel-button w-50"
        data-close-modal=""
        data-translationKey="cancel"
      >
        Cancel
      </button>
    </div>
  </div>
</div>
