<div
  class="d-flex justify-content-center align-items-center"
  style="min-height: 90vh"
>
  <div class="container mt-5" style="width: 95vw">
    <div class="form-group mb-3">
      <div class="d-flex justify-content-center">
        <h1
          class="title-principal-styles position-absolute top-0 start-50 translate-middle-x"
          data-translationKey="tournament"
          style="margin-top: 6rem"
        >
          Tournament
        </h1>
        <label
          class="form-secondary-title-color text-center w-100 top-0"
          data-translationKey="round-1"
          style="font-size: 3rem"
          >Round nº 1</label
        >
      </div>
      <label
        class="form-secondary-title-color text-center w-100 top-0"
        data-translationKey="match"
        style="font-size: 2rem"
        >Match:</label
      >
      <label
        class="title-principal-styles text-center w-100"
        style="font-size: 3rem"
        >10/40</label
      >
    </div>
    <div class="col-12 text-center">
      <button
        class="btn link-text-styles link-text-size w-100"
        data-translationKey="disabled"
        style="visibility: hidden"
      >
        this is disabled
      </button>
      <button
        class="btn link-text-styles link-text-size w-100"
        data-translationKey="disabled"
        style="visibility: hidden"
      >
        this is disabled
      </button>
    </div>
    <div class="d-flex justify-content-center">
      <a
        class="spa-link"
        href="/auth"
        style="flex: 1; display: flex; justify-content: center"
      >
        <button
          class="btn cancel-button mt-3 mb-2 bs-primary w-100"
          data-translationKey="spectate"
          style="width: 14rem; height: 3rem; border-radius: 10px"
          type="button"
        >
          Spectate
        </button>
      </a>
    </div>
    <div class="d-flex justify-content-center gap-1 mb-3">
      <a class="spa-link" href="/" style="flex: 1">
        <button
          class="btn cancel-button w-100 bs-primary border-primary-color"
          data-translationKey="prev"
          style="border-radius: 10px; height: 2.8rem"
          type="button"
        >
          Prev
        </button>
      </a>
      <a class="spa-link" href="/" style="flex: 1">
        <button
          class="btn cancel-button w-100 bs-primary"
          data-translationKey="finish-login"
          id="finish-login"
          style="border-radius: 10px; height: 2.8rem"
          type="submit"
        >
          Account Deletion
        </button>
      </a>
    </div>
    <div class="d-flex justify-content-center">
      <a class="spa-link" href="/"></a>
      <button
        class="btn accept-button bs-primary"
        data-translationKey="finish-login"
        id="finish-login"
        style="border-radius: 10px; height: 2.8rem; width: 5rem"
        type="submit"
      >
        Account Deletion
      </button>
    </div>
  </div>
</div>
