<div
  class="d-flex justify-content-center align-items-center"
  style="min-height: 90vh"
>
  <div class="container mt-5" style="width: 95vw">
    <div class="form-group mb-3">
      <div class="d-flex justify-content-center">
        <label
          class="form-secondary-title-color text-center w-100 top-0"
          data-translationKey="waiting-players"
          style="font-size: 3rem"
          >Waiting Players</label
        >
      </div>
      <label
        class="title-principal-styles text-center w-100"
        style="font-size: 3.5rem"
        >10/40</label
      >
    </div>
    <form>
      <div class="form-group mb-3">
        <label
          class="form-secondary-title-color text-center w-100"
          data-translationKey="code"
          style="font-size: 2.5rem"
          >Code:</label
        >
        <input
          class="form-control form-control-lg bs-secondary"
          style="border-radius: 20px"
        />
      </div>
    </form>
    <div class="col-12 text-center">
      <button
        class="btn link-text-styles link-text-size w-100"
        data-translationKey="disabled"
        style="visibility: hidden"
      >
        this is disabled
      </button>
      <button
        class="btn link-text-styles link-text-size mb-4 w-100"
        data-translationKey="disabled"
        style="visibility: hidden"
      >
        this is disabled
      </button>
    </div>
    <div class="d-flex justify-content-center gap-1 mb-3">
      <a class="spa-link" href="/" style="flex: 1">
        <button
          class="btn cancel-button w-100 bs-primary border-primary-color"
          data-translationKey="cancel"
          style="border-radius: 10px; height: 2.8rem"
          type="button"
        >
          Cancel
        </button>
      </a>
      <a class="spa-link" href="/" style="flex: 1">
        <button
          class="btn accept-button w-100 bs-primary"
          data-translationKey="finish-login"
          id="finish-login"
          style="border-radius: 10px; height: 2.8rem"
          type="submit"
        >
          Account Deletion
        </button>
      </a>
    </div>
  </div>
</div>
