<div class="bs-primary d-flex justify-content-center align-items-center vh-100">
  <a class="spa-link" href="/">
    <h1
      class="btn title-principal-styles position-absolute top-0 start-50 translate-middle-x mt-5"
    >
      Transcendence
    </h1>
  </a>
  <div class="row">
    <div id="page-container"></div>
  </div>
</div>
<div id="menu-container">
  <div id="btn-left">
    <button
      aria-label="Rickroll"
      class="btn p-0 position-absolute bottom-0 start-0 ms-4 mb-2 title-principal-styles"
    >
      <a class="spa-link" href="/faq"
        ><i class="bi bi-question-circle" style="font-size: 3.5rem"></i>
      </a>
    </button>
  </div>
  <div id="btn-right">
    <button
      aria-label="settings"
      class="btn p-0 position-absolute bottom-0 end-0 me-4 mb-2 title-principal-styles"
    >
      <a class="spa-link" href="/settings"
        ><i class="bi bi-globe" style="font-size: 3.5rem"></i
      ></a>
    </button>
  </div>
</div>
