
<div class="bs-primary d-flex justify-content-center align-items-center vh-100">
<div id="title-container">
<h1 class="title-principal-styles position-absolute top-0 start-50 translate-middle-x mt-5">Transcendence</h1>
</div>
<div id="page-container">
<h1 class="title-principal-styles position-absolute top-0 start-50 translate-middle-x mt-5">Page container</h1>
</div>
<div id="menu-container">
<h1 class="title-principal-styles position-absolute top-0 start-50 translate-middle-x mt-5">Menu container</h1>
</div>
</div>
