{
    email josgarci@student.42madrid.com
    local_certs
}

# this hostname is automatically changed by update_env_and_caddy.py
(common_config) {
    reverse_proxy /api/* be:8000
    reverse_proxy /metrics fe:3002
    reverse_proxy /blackbox blackbox:9115
    reverse_proxy /ws/* be:8000 {
        header_up Host {host}
        header_up X-Real-IP {remote}
        header_up X-Forwarded-For {remote}
        header_up X-Forwarded-Proto {scheme}
    }
    # rutas de monitorización
     
    handle /grafana* {
        reverse_proxy grf:3333 {
            header_up X-Forwarded-Host {host}
            header_up X-Forwarded-Server {host}
            header_up X-Forwarded-For {remote_host}
        }
    }

    handle /prometheus {
        uri strip_prefix /prometheus
        reverse_proxy prom:9090
    }

    handle /prometheus/* {
        uri strip_prefix /prometheus
        reverse_proxy prom:9090
    }
    encode gzip
    file_server
    tls internal

    handle_path /images/* {
        root * /app/media
        file_server
    }

    reverse_proxy /* fe:3001
}

https://c1r17s6.42madrid.com, https://localhost {
    import common_config
}