<div class="d-flex justify-content-center align-items-center" style="min-height: 90vh;">
	<div class="container mt-5" style="width: 95vw;"> 
		<form>
			<div class="form-group mb-0">
				<label class="form-secondary-title-color fs-3 text-center d-block" >New email</label>
				<input class="form-control form-control-lg bs-secondary" style="border-radius: 20px;">
			</div>
			<div class="form-group mb-5">
				<label class="form-secondary-title-color fs-3 text-center d-block" >Type password</label>
				<input class="form-control form-control-lg bs-secondary" style="border-radius: 20px;">
			</div>

		</form>
			<div class="col-12 text-center">
				<a spa-loader="menu-login" class="spa-link"><button class="btn link-text-styles link-text-size w-100">I forgot my password</button></a>
				<button class="btn link-text-styles link-text-size mb-4 w-100" style="visibility: hidden;">this is disabled</button></a>
			</div>
		<div class="d-flex justify-content-center gap-1 mb-3">
			<a href="/home_page" class="spa-link" style="flex: 1;">
				<button type="button" class="btn cancel-button w-100 bs-primary border-primary-color" style="border-radius: 10px; height: 2.8rem;">Cancel</button>
			</a>
			<a href="/game" class="spa-link" style="flex: 1;">
				<button type="submit" class="btn accept-button w-100 bs-primary" style="border-radius: 10px; height: 2.8rem;" id="finish-login">Accept</button>
			</a>
		</div>
	</div>
</div>
