<div
  style="
    width: 100%;
    height: 100%;
    position: relative;
    background: #f6d6bd;
    border-radius: 10px;
    overflow: hidden;
  "
>
  <div
    style="
      width: 100%;
      height: 100%;
      left: 0px;
      top: 0px;
      position: absolute;
      background: #ffffff;
      box-shadow: 0px 0px 180px black inset;
    "
  ></div>
  <div
    style="
      width: 273px;
      height: 354px;
      padding-left: 25px;
      padding-right: 25px;
      padding-top: 122px;
      padding-bottom: 122px;
      left: 23px;
      top: 107px;
      position: absolute;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 14px;
      display: inline-flex;
    "
  >
    <div style="width: 223px; height: 48px; position: relative">
      <div
        style="
          width: 223px;
          height: 44px;
          left: 0px;
          top: 4px;
          position: absolute;
        "
      ></div>
      <div
        style="
          left: 61px;
          top: 0px;
          position: absolute;
          text-align: center;
          color: #c3a38a;
          font-size: 40px;
          font-family: Pixelify Sans;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        Login
      </div>
    </div>
    <div style="width: 223px; height: 48px; position: relative">
      <div
        style="
          width: 223px;
          height: 44px;
          left: 0px;
          top: 4px;
          position: absolute;
        "
      ></div>
      <div
        style="
          left: 45px;
          top: 0px;
          position: absolute;
          text-align: center;
          color: #c3a38a;
          font-size: 40px;
          font-family: Pixelify Sans;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        Sing up
      </div>
    </div>
  </div>
  <div
    style="
      width: 132px;
      height: 61px;
      left: 94px;
      top: 30px;
      position: absolute;
    "
  >
    <div
      style="
        width: 132px;
        height: 61px;
        padding-bottom: 13px;
        left: 0px;
        top: 0px;
        position: absolute;
        box-shadow: 16.66666603088379px 16.66666603088379px 16.66666603088379px;
        filter: blur(16.67px);
        justify-content: center;
        align-items: center;
        display: inline-flex;
      "
    >
      <div
        style="
          text-align: center;
          color: #f6d6bd;
          font-size: 40px;
          font-family: Pixelify Sans;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        Transcendence
      </div>
    </div>
    <div
      style="
        width: 132px;
        height: 61px;
        padding-bottom: 13px;
        left: 0px;
        top: 0px;
        position: absolute;
        justify-content: center;
        align-items: center;
        display: inline-flex;
      "
    >
      <div
        style="
          text-align: center;
          color: white;
          font-size: 40px;
          font-family: Pixelify Sans;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        Transcendence
      </div>
    </div>
  </div>
  <div style="height: 50px; left: 23px; top: 494px; position: absolute">
    <div
      style="
        width: 50px;
        height: 50px;
        left: 223px;
        top: 0px;
        position: absolute;
      "
    >
      <div
        style="
          width: 50px;
          height: 50px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: #08141e;
          box-shadow: 0px 0px 6px black;
          border-radius: 9999px;
          border: 1px #c3a38a solid;
        "
      ></div>
      <div
        style="
          width: 36px;
          height: 36px;
          left: 7px;
          top: 7px;
          position: absolute;
        "
      >
        <div
          style="
            width: 36px;
            height: 36px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: #f6d6bd;
            box-shadow: 4.599999904632568px 4.599999904632568px
              4.599999904632568px;
            filter: blur(4.6px);
          "
        ></div>
        <div
          style="
            width: 36px;
            height: 36px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: white;
          "
        ></div>
      </div>
    </div>
    <div
      style="width: 50px; height: 50px; left: 0px; top: 0px; position: absolute"
    >
      <div
        style="
          width: 50px;
          height: 50px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: #08141e;
          box-shadow: 0px 0px 6px black;
          border-radius: 9999px;
          border: 1px #c3a38a solid;
        "
      ></div>
      <div
        style="
          width: 40px;
          height: 40px;
          left: 5px;
          top: 5px;
          position: absolute;
        "
      >
        <div
          style="
            width: 13.56px;
            height: 22.44px;
            left: 13.14px;
            top: 8.75px;
            position: absolute;
            background: #f6d6bd;
            box-shadow: 6px 6px 6px;
            filter: blur(6px);
          "
        ></div>
        <div
          style="
            width: 13.56px;
            height: 22.44px;
            left: 13.14px;
            top: 8.75px;
            position: absolute;
            background: white;
          "
        ></div>
      </div>
    </div>
  </div>
</div>
