/*-----------------------------------------------------------------------------------------------------*/
:root {
  --bs-background: rgba(
    8,
    20,
    30,
    1
  ); /*#08141e;*/ /* background principal color */
  --bs-modal: rgba(0, 0, 0, 0.25); /*#08141e;*/ /* background principal color */
  --bs-primary: rgba(
    8,
    20,
    30,
    0
  ); /*#08141e;*/ /* background principal color */
  --bs-secondary: #0f2a3f; /* inputs */
  --bs-tertirary: #20394f; /* paletas */
  --bs-text-color: #f6d6bd; /* text principal color */
  --bs-text-color-secondary: #c3a38a; /* Color button type 1  */
  --bs-text-color-tertiary: #ff4d6d; /* Color button type 2 */
  --bs-font-sans-serif: 'Pixelify Sans', sans-serif; /* font */
  --bs-text-color-quaternary: #59d683; /* Button Log intra */
}

@font-face {
  font-family: 'Pixelify Sans';
  src: url('../assets/fonts/PixelifySans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pixelify Sans';
  src: url('../assets/fonts/PixelifySans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Pixelify Sans';
  src: url('../assets/fonts/PixelifySans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Pixelify Sans';
  src: url('../assets/fonts/PixelifySans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

.top-box,
.bottom-box {
  background-color: #1b2a3a;
  height: 100px;
  width: 40px;
  border-radius: 10px;
}

.game-area {
  background-color: #112233;
  width: 20rem;
  height: 70vh;
  border-radius: 10px;
  border: 1px solid #ccc;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0px 0px 200px black;
}

.game-section {
  position: relative;
  height: 47%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.score {
  font-size: 120px;
  opacity: 0.7;
}

.bar {
  position: absolute;
  width: 110px;
  height: 20px;
  background-color: var(--bs-text-color-tertiary);
}

.top-bar {
  top: 10px;
  right: 10px;
}

.bottom-bar {
  bottom: 10px;
  left: 10px;
}

.game-divider {
  height: 2px;
  background-color: white;
  margin: 10px 0;
}

.test-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  align-items: center;
  justify-content: center;
}

/*------------------------------------------------------------------------*/

.form-control,
.form-control-lg {
  border: 0px;
  color: var(--bs-text-color);
}

.card,
.card-body {
  background: transparent !important;
}

.shadow-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: var(--bes-background);
  background-color: var(--bs-background);
  box-shadow: inset 0px 0px 200px black;
  z-index: 0;
}

.modal-box {
  background: transparent !important;
  border: 2px solid var(--bs-text-color);
  box-shadow: inset 0px 0px 200px black;
  border-radius: 1%;
  z-index: 3;
}

.modal-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: var(--bes-background);
  background-color: var(--bs-modal);
  backdrop-filter: blur(10px);
  /*box-shadow: inset 0px 0px 200px black; */
  z-index: 2;
}

.bs-primary {
  background-color: var(--bs-primary);
}

.bs-secondary {
  background-color: var(--bs-secondary);
}

.text-principal-color {
  color: var(--bs-text-color);
}

.text-success-color {
  color: var(--bs-text-color-quaternary);
}

.border-primary {
  border-color: var(--bs-text-color) !important;
}

.glowing-border {
  border: 3px solid var(--bs-text-color);
  box-shadow:
    0 0 2px var(--bs-text-color),
    0 0 4px var(--bs-text-color),
    0 0 6px #c3a38a;
  border-radius: 50%;
}

.secondary-title-color {
  color: var(--bs-text-color-secondary);
  font-size: 2.8rem;
}

.form-secondary-title-color {
  color: var(--bs-text-color-secondary);
}

.gdpr-principal-styles {
  color: white;
  font-size: 0.8rem;
}

.title-principal-styles {
  color: white;
  font-size: 2.8rem;
  text-shadow:
    0 0 0.1em var(--bs-text-color),
    0 0 0.3em var(--bs-text-color),
    0 0 0.6em #c3a38a,
    0 0 1em #c3a38a;
}

.profile-title {
  color: white;
  font-size: 2.2rem;
  text-shadow:
    0 0 0.1em var(--bs-text-color),
    0 0 0.3em var(--bs-text-color),
    0 0 0.6em #c3a38a,
    0 0 1em #c3a38a;
}

.tournament-title {
  color: white;
  font-size: 2rem;
  text-shadow:
    0 0 0.1em var(--bs-text-color),
    0 0 0.3em var(--bs-text-color),
    0 0 0.6em #c3a38a,
    0 0 1em #c3a38a;
}

.link-text-styles {
  color: var(--bs-text-color);
  text-shadow: 0px 4px 6px #000;
  -webkit-text-stroke: 0.5px black;
  font-family: 'Pixelify Sans';
  font-style: normal;
  line-height: normal;
  text-decoration: underline;
}

.link-text-size {
  font-size: 1.5rem;
}

.spa-link {
  color: inherit;
  text-decoration: none;
}

.mt-8 {
  margin-top: 8rem;
}

/* FORMS */
.invalid-feedback {
  color: #dc3545;
}

.hidden {
  display: none !important;
}

.scroll-container {
  overflow-x: auto;
  width: 100%;
}

.list-group {
  width: 100%;
}

.hidden {
  display: none !important;
}

/* --- Profile --- */

.profile-container {
  position: fixed;
  inset: 0;
  overflow-y: scroll;
  padding: 2rem 1rem 6rem 1rem;
  margin: 0;
  scale: 1; /* o elimínalo */
  margin-top: 9rem;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.profile-container::-webkit-scrollbar {
  display: none;
}

.profile-circle {
  width: 120px;
  height: 120px;
}

.stats-container p {
  margin-bottom: 0.5rem;
}

/* --- History container --- */
.matches-container,
.profile-matches-container {
  max-height: 60vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
  padding: 1rem;
  width: 100%;
  max-width: 700px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  border-radius: 8px;
}

.profile-matches-container {
  margin-bottom: 2rem;
}
.profile-matches-container::-webkit-scrollbar {
  display: none;
}

.match-card,
.profile-match-card {
  display: flex;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.profile-match-card {
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
}

.match-card .avatar,
.profile-match-card .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.match-card .avatar {
  margin-bottom: 0.5rem;
}

.profile-match-card .avatar {
  margin-right: 1rem;
  object-fit: cover;
}

.profile-match-card .match-info {
  flex: 1;
}

/* --- Media Queries --- */
@media (max-width: 768px) {
  .matches-container,
  .profile-matches-container {
    max-height: 50vh;
    padding: 0.5rem;
    max-width: 100%;
  }

  .match-card,
  .profile-match-card {
    flex-direction: column;
    padding: 0.8rem;
    text-align: center;
  }

  .profile-match-card .avatar {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }

  .profile-container {
    padding-top: 1rem;
    padding-bottom: 3rem;
  }

  .match-card .avatar {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 480px) {
  .matches-container,
  .profile-matches-container {
    max-height: 50vh;
    gap: 0.5rem;
  }

  .match-card,
  .profile-match-card {
    padding: 0.5rem;
  }

  .match-card .avatar,
  .profile-match-card .avatar {
    width: 35px;
    height: 35px;
  }
}

.stats-wrapper {
  margin-top: 1rem;
}

.stats-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
