.scroll-container {
  max-height: 400px;
  overflow-y: auto;
}

.player-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tournament-container {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 375px) and (max-height: 667px) {
  .container-fluid {
    transform: scale(0.75);
    transform-origin: top center;
    margin-top: 18rem;
  }
}
